.full-recipe{
    width:58%;
    float:left;
    margin-left:5%;
    @include breakpoint(chromeBook){
        width:90%;
        margin:10px 5%;
    }
}
.full-recipe ul {
    margin: 0;
    padding: 0;
    li {
        padding: 5px 0;
    }
}

.ask-dave {
    position: relative;
    img {
        width: 50%;
        min-width:190px;
    }
    .brewer-tips-modal {
        display: none;
        background-image: url(/assets/speech-bubble.png);
        background-repeat: no-repeat;
        position: absolute;
        width: 320px;
        height: 280px;
        top: -30%;
        left: 50%;
        transform: translate(-50%, -50%);
        h4, p {
            padding: 5px 10px 0 25px;
            margin: 0;
        }
    }
}